# 모든 'data' 폴더 무시
**/data/

# 모델
Part6. Deep-Learning/PyTorch/models/

# 자료
*.pdf

# macOS
.DS_Store
**/.DS_Store

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# 가상환경
env/
venv/
.venv/

# MLOps
mlruns/
mlartifacts/

# Application Data
Part1. Python 기초/Chapter02. 파이썬 제어문/todo.json

# 기타 IDE 및 에디터 설정
*.swp
*.swo
*.bak
