
# 데이터 분석
numpy==1.26.4
pandas==2.2.2
scipy==1.13.1

# 시각화
matplotlib==3.8.4
seaborn==0.13.2
plotly==5.22.0

# 머신러닝
scikit-learn==1.4.1.post1
xgboost==2.0.3
lightgbm==4.3.0
catboost==1.2.5

# 딥러닝
torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
tensorflow==2.16.1

# 기타 유틸
tqdm==4.66.4
ipykernel==6.29.4
jupyterlab==4.1.8
